.project {
  margin: 1.5rem 0;
  border: 2px solid rgba(255, 255, 255, 0.25);
  padding: 1.5rem;
  border-radius: 10px;
}

.project:last-child {
  margin-bottom: -2rem;
}

.project-title {
  font-size: 1.5rem;
  color: #ccd6f6;
  margin-bottom: 1rem;
}

.project .project-info {
  word-spacing: 1px;
}

.project-links {
  margin: 0;
}
.project-info {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.project-links {
  display: flex;
  flex-wrap: wrap;
}

.project-links a {
  font-family: monospace;
  font-size: 1.15rem;
  vertical-align: middle;
  margin: 0;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #64ffda;
  border-radius: 4px;
  text-decoration: none;
  color: #64ffda;
}

.project-links a.github-link {
  background-color: #121212;
  border: 1px solid #a8b2d1;
  color: #ccd6f6;
}

.project-links a:hover {
  background-color: #10293b;
}

.project-external-link-icon,
.project-github-link-icon {
  vertical-align: sub;
  height: 1.15rem;
  width: 1.15rem;
  color: #ccd6f6;
}

.project-tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;
}
.project-tags li {
  font-family: "Ubuntu Mono", monospace;
  font-size: 0.9rem;
  margin: 0 1rem 0.5rem 0;
  color: #ccd6f6;
  margin-right: 0.5rem;
  padding: 5px 0.75rem;
  background-color: #121212;
  border: 1px solid #333f58;
  border-radius: 5px;
  /* box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.25); */
}

@media screen and (max-width: 768px) {
  .project-links a {
    font-size: 1rem;
  }

  .project-external-link-icon,
  .project-github-link-icon {
    height: 1rem;
    width: 1rem;
  }
}
