header {
  /* -webkit-box-pack: justify; */
  /* justify-content: space-between; */
  /* -webkit-box-align: center; */
  /* align-items: center; */
  position: fixed;
  top: 0px;
  margin-top: 1rem;
  background-color: transparent;
  z-index: 11;
  width: 100%;
  height: 70px;
  /* transform: translateY(0px); */
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  padding: 0px 50px;
  /* transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; */
}

#navbar {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

#nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}
#nav-list .navlinks {
  padding: 1rem;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
  color: #ccd6f6;
  transition: 0.5s;
}

#nav-list .navlinks:hover {
  color: #64ffda;
  text-decoration: underline;
}

#nav-list .resume {
  transition: 0.5s;
}
#nav-list .resume:hover {
  text-decoration: none;
  background-color: #10293b;
  /* box-shadow: inset 0 0 4px 1px #64ffda; */
}
