header {
  /* -webkit-box-pack: justify; */
  /* justify-content: space-between; */
  /* -webkit-box-align: center; */
  /* align-items: center; */
  position: fixed;
  top: 0px;
  background-color: transparent;
  z-index: 11;
  width: 100%;
  height: auto;
  min-height: calc(2rem + 20px);
  /* transform: translateY(0px); */
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  padding: 1.5rem 50px;
  /* transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; */
  transition: 0.35s;
}

.hide-header-navbar {
  top: -120px;
}

.show-header-navbar {
  background-color: #0a192f;
  border-bottom: 1px solid #121212;
  box-shadow: 0 10px 20px 10px #071222;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  /* padding: 1rem; */
}

#nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
}
#nav-list .navlinks {
  padding: 1rem;
  font-size: 1.25rem;
  font-family: "Ubuntu Mono", monospace;
  text-decoration: none;
  color: #ccd6f6;
  color: #8892b0;
  transition: 0.5s;
}

#nav-list .navlinks:hover {
  color: #64ffda;
  text-decoration: underline;
}

#nav-list .resume {
  transition: 0.5s;
}
#nav-list .resume:hover {
  text-decoration: none;
  background-color: #10293b;
  /* box-shadow: inset 0 0 4px 1px #64ffda; */
}

@media screen and (min-width: 768px) {
  #nav-toggle {
    display: none;
    translate: all 1s;
  }

  #nav-list li {
    margin: 0;
  }
  #nav-list {
    /* transition: all 0.3s; */
    /* -moz-transition: all 0s; */
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  nav-toggle:active {
    border: 1px solid white;
  }

  #nav-toggle.animate-toggle {
    position: fixed;
    top: 1rem;
    right: 1.5rem;
  }

  #nav-toggle {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    box-sizing: border-box;
    width: 30px;
    height: 20px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
    margin: auto 0 auto auto;
    transform: rotate(0deg);
    transition: 0.35s ease-in-out;
    -moz-transition: 0s;
  }

  #nav-list li {
    margin: 1rem;
  }

  #nav-list.active {
    width: 300px;
  }

  #nav-toggle:focus {
    outline: none;
  }

  #nav-toggle:focus * {
    box-shadow: 0 0 0 1px #64ffda;
    background: #64ffda !important;
  }

  #nav-toggle .line {
    margin: 0;
    padding: 0;
    height: 2px;
    width: 100%;
    /* margin: 5px; */
    background: #64ffda;

    display: block;
    /* position: absolute; */
    position: fixed;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    -moz-transition: 0s;
  }

  #nav-toggle .line:nth-child(1) {
    top: 0px;
  }
  #nav-toggle .line:nth-child(2) {
    top: 8px;
  }
  #nav-toggle .line:nth-child(3) {
    top: 16px;
  }

  #nav-toggle.animate-toggle .line:nth-child(1) {
    top: 8px;
    transform: rotate(135deg);
  }
  #nav-toggle.animate-toggle .line:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  #nav-toggle.animate-toggle .line:nth-child(3) {
    top: 8px;
    transform: rotate(-135deg);
  }

  nav h1 {
    font-size: 1.1rem !important;
  }

  #nav-list {
    z-index: 5;
    width: 0;
    margin: auto;
    /* position: absolute; */
    position: fixed;
    right: 0;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    -moz-transition: all 0s;
    text-align: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.87);
    padding-bottom: 15vh;
  }

  #nav-list * {
    opacity: 0;
  }
  #nav-list.active * {
    opacity: 1;
  }

  #nav-list li:last-child a.resume {
    margin-top: 1.5rem !important;
  }
  #nav-list li .navlinks {
    font-size: 1.1rem;
    color: #ccd6f6;
    overflow: hidden;
    transition: color 1s;
    -moz-transition: color 0s;
  }

  #nav-list li a:hover {
    color: white;
    margin: 1rem;
    overflow: hidden;
  }
}

@media screen and (max-width: 480px) {
  #nav-list.active li .navlinks {
    font-size: 1.25rem;
  }
  #nav-list.active {
    width: 100vw !important;
  }
}
