#intro p {
  max-width: 70ch;
}

#intro .get-in-touch-btn {
  padding: 0.75rem 1.25rem;
  border: 1px solid #64ffda;
  border-radius: 4px;
  text-decoration: none;
  font-family: monospace;
}

#intro .get-in-touch-btn:hover {
  background-color: #10293b;
}

#intro .title {
  background: -webkit-linear-gradient(#e6f1ff, #5d72a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* #intro h3 {
  background: -webkit-linear-gradient(#8892b0, #333f58);
  background: -webkit-linear-gradient(#8892b0, #546892);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
