#intro p {
  max-width: 70ch;
  padding-bottom: 3rem;
  margin-bottom: 0;
}

.get-in-touch-btn {
  padding: 0.75rem 1.25rem;
  border: 1px solid #64ffda;
  border-radius: 4px;
  text-decoration: none;
  font-family: monospace;
  margin: 0;
}

.get-in-touch-btn:hover {
  background-color: #10293b;
}

#intro .title {
  font-size: 3.5rem;
  margin-bottom: 0;
  /* background: -webkit-linear-gradient(#e6f1ff, #5d72a2);
  background: -webkit-linear-gradient(#e6f1ff, #7888a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #e6f1ff;
  color: #ccd6f6;
}

#intro h3 {
  /* background: -webkit-linear-gradient(#8892b0, #333f58);
  background: -webkit-linear-gradient(#8892b0, #505677);
  background: -webkit-linear-gradient(#bbccdd, #606d90);
  background: -webkit-linear-gradient(#bbccdd, #505677);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  padding: 1rem 0 2.5rem;
  margin: 0;
  color: #8892b0;
}
