.icons {
  height: 2rem;
  width: 2rem;
  color: #8892b0;
  transition: 0.5s;
}
.icons:hover {
  color: #64ffda;
  transform: translateY(-4px);
}

@media screen and (min-width: 769px) {
  #left {
    position: fixed;
    bottom: 0;
    left: 40px;
    width: 40px;
    z-index: 10;
    color: #8892b0;
  }

  #left-list {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }

  #left-list li {
    margin-bottom: 3rem;
  }

  #left-list:last-child::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: #8892b0;
    margin: 0px auto;
  }

  .tooltip .tooltiptext {
    top: -5px;
    left: 125%;
  }
}

@media screen and (min-width: 1200px) {
  #left {
    left: 80px;
  }
}

@media screen and (max-width: 900px) {
  .icons {
    height: 1.75rem;
    width: 1.75rem;
  }
}

@media screen and (max-width: 768px) {
  #left {
    display: none;
  }
}

.tooltip {
  /* Container for tooltip */
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  width: 85px;
  font-size: 16px;
  color: #ccd6f6;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
