.icons {
  height: 1.25rem;
  width: 1.25rem;
  color: #8892b0;
  transition: 0.5s;
}
.icons:hover {
  color: #64ffda;
  transform: translateY(-4px);
}

@media screen and (min-width: 769px) {
  #left {
    position: fixed;
    bottom: 0;
    left: 40px;
    width: 40px;
    z-index: 10;
    color: #8892b0;
  }

  #left-list {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }

  #left-list li {
    margin-bottom: 2rem;
  }

  #left-list:last-child::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: #8892b0;
    margin: 0px auto;
  }

  .tooltip .tooltiptext {
    top: -5px;
    left: 125%;
  }
}

@media screen and (max-width: 768px) {
  #left {
    color: #8892b0;
  }

  #left-list {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }

  #left-list li {
    margin-bottom: 0;
  }

  #left-list li a {
    margin: 0 1rem;
    padding: 0.5rem 0.5rem;
  }

  .tooltip .tooltiptext {
    bottom: 100%;
    left: 100%;
    margin-left: -60px;
  }
}

@media screen and (min-width: 650px) and (max-width: 768px) {
  #left-list:last-child::after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background-color: #8892b0;
    margin: 0px auto;
  }
  #left-list:last-child::before {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background-color: #8892b0;
    margin: 0px auto;
  }
}

.tooltip {
  /* Container for tooltip */
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  width: 80px;
  font-size: 14px;
  color: #ccd6f6;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
